@using Microsoft.AspNetCore.Identity;
@using ProjectAirsoft.Data.Models;
@using ProjectAirsoft.ViewModels.Team;

@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<TeamIndexViewModel>

@{
	ViewData["Title"] = "Teams";
	var currentUser = await UserManager.GetUserAsync(User);
}

<div class="d-flex align-items-center mb-3">
	<h2 class="me-auto mb-0">@ViewData["Title"]</h2>

	@if (currentUser != null && currentUser.TeamId == null)
	{
		<a asp-controller="Team" asp-action="Create" class="btn btn-outline-success me-2"><i class="bi-plus-circle me-2"></i>Create Team</a>
	}

	<div class="btn-group dropend">
		<button class="btn btn-outline-primary dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,10">
			<i class="bi-geo-alt me-2"></i>City
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item @(ViewBag.SelectedCity == null ? "active" : "")" asp-action="Index">All</a>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			@foreach (var city in ViewBag.AllCities)
			{
				<li>
					<a class="dropdown-item @(ViewBag.SelectedCity == city ? "active" : "")" asp-action="Index" asp-route-city="@city">@city</a>
				</li>
			}
		</ul>
	</div>

</div>
<hr />

@if (Model.Count() == 0)
{
	@if (ViewBag.SelectedCity == null)
	{
		<p>There are no teams created yet.</p>
	}
	else
	{
		<p>There are no teams in @ViewBag.SelectedCity.</p>
	}
	
}
else
{
	<table class="table table-hover">
		<caption>Total teams: @Model.Count()</caption>
		<thead>
			<tr>
				<th>Team Logo</th>
				<th>Name</th>
				<th>City</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody class="table-group-divider">
			@foreach (var team in Model)
			{
				<tr>
					<td>
						<img src="@team.LogoUrl" alt="@team.Name" width="200" />
					</td>
					<td>@team.Name</td>
					<td>@team.City</td>
					<td>
						<a asp-controller="Team" asp-action="Details" asp-route-id="@team.Id" class="btn btn-outline-primary"><i class="bi-info-circle me-2"></i>More Info</a>

						@if (User?.Identity?.IsAuthenticated ?? false)
						{
							@if (User.Identity.Name != team.Leader && currentUser!.TeamId == null)
							{
								<a asp-controller="Team" asp-action="Join" asp-route-id="@team.Id" class="btn btn-outline-success"><i class="bi-box-arrow-in-right me-2"></i>Join</a>
							}

							@if (currentUser!.TeamId.ToString() == team.Id && User.Identity.Name != team.Leader)
							{
								<a asp-controller="Team" asp-action="Leave" asp-route-id="@team.Id" class="btn btn-outline-danger"><i class="bi-box-arrow-left me-2"></i>Leave</a>
							}
						}
					</td>
				</tr>
			}
		</tbody>
	</table>
}
