@using ProjectAirsoft.ViewModels.Terrain;
@model IEnumerable<TerrainIndexViewModel>

@{
	ViewData["Title"] = "Terrains";
}

<h2>Active Terrains</h2>

<hr />

@if (Model.Count() == 0)
{
	<p>No terrains have been added yet.</p>
}
else
{
	<table class="table table-hover">
		<caption>Total active terrains: @Model.Where(t => t.IsDeleted == false && t.IsActive == true).Count()</caption>
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th>City</th>
				<th># of Games</th>
				@if (User?.Identity?.IsAuthenticated ?? false)
				{
					<th>Actions</th>
				}
			</tr>
		</thead>
		<tbody class="table-group-divider">
			@foreach (var terrain in Model.Where(t => t.IsDeleted == false && t.IsActive == true))
			{
				<tr>
					<td>@terrain.Name</td>
					<td><a target="_blank" href="@terrain.LocationUrl">Link</a></td>
					<td>@terrain.City</td>
					<td>@terrain.GamesCount</td>
					@if (User?.Identity?.IsAuthenticated ?? false)
					{
						<td>
							<a asp-controller="Terrain" asp-action="Edit" asp-route-id="@terrain.Id" class="btn btn-outline-info">Edit</a>
							<a asp-controller="Terrain" asp-action="Status" asp-route-id="@terrain.Id" class="btn btn-outline-warning">Set Inactive</a>
							<a asp-controller="Terrain" asp-action="Delete" asp-route-id="@terrain.Id" class="btn btn-outline-danger">Delete</a>
						</td>
					}
				</tr>
			}
		</tbody>
	</table>

	<h2 class="mt-5">Inactive Terrains</h2>

	<hr />

	@if (Model.Where(t => t.IsActive == false).Count() == 0)
	{
		<p>There are no inactive terrains.</p>
	}
	else
	{
		<table class="table table-hover">
			<caption>Total inactive terrains: @Model.Where(t => t.IsDeleted == false && t.IsActive == false).Count()</caption>
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>City</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				@foreach (var terrain in Model.Where(t => t.IsDeleted == false && t.IsActive == false))
				{
					<tr>
						<td>@terrain.Name</td>
						<td><a target="_blank" href="@terrain.LocationUrl">Link</a></td>
						<td>@terrain.City</td>
					</tr>
				}
			</tbody>
		</table>
	}
}
