@using ProjectAirsoft.ViewModels.Game;
@model GameDetailsViewModel

@{
	ViewData["Title"] = "Game Details";
	var today = DateTime.Today;
}

<div class="container">

	<img src="@Model.ImageUrl" height="400" />
	<h2>@Model.Name</h2>

	<p><strong>Description:</strong> @Model.Description</p>
	<p><strong>Date:</strong> @Model.Date</p>
	<p><strong>Start Time:</strong> @Model.StartTime</p>
	<p><strong>Registered Players:</strong> @Model.RegisteredPlayers / @Model.Capacity</p>
	<p><strong>Fee:</strong> @(Model.Fee == 0 ? "FREE" : $"BGN {Model.Fee}")</p>
	<p><strong>Terrain:</strong> @Model.Terrain</p>
	<p><strong>Organizer:</strong> @Model.Organizer</p>

	@if (User?.Identity?.IsAuthenticated ?? false)
	{
		<div class="d-flex">
			@if (User.Identity.Name == Model.Organizer && Model.IsCanceled == false && DateTime.Parse(Model.Date) >= today)
			{
				<div class="me-2">
					<a asp-action="Cancel" asp-route-id="@Model.Id" class="btn btn-outline-danger"><i class="bi-stop-circle me-2"></i>Cancel Game</a>
				</div>
			}

			@if (User.Identity.Name == Model.Organizer)
			{
				<div class="me-2">
					<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-outline-info"><i class="bi-pencil-square me-2"></i>Edit</a>
				</div>
				<div class="me-2">
					<a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-outline-danger"><i class="bi-x-circle me-2"></i>Delete</a>
				</div>
			}

			@if (!Model.IsCanceled && DateTime.Parse(Model.Date) >= today)
			{
				@if (!Model.IsUserRegistered)
				{
					@if (Model.RegisteredPlayers < Model.Capacity)
					{
						<form asp-controller="GameList" asp-action="AddToGameList" asp-route-id="@Model.Id" method="post" class="d-inline">
							<button type="submit" class="btn btn-outline-success"><i class="bi-check-square me-2"></i>Register</button>
						</form>
					}
					else
					{
						<button class="btn btn-outline-light" disabled><i class="bi-emoji-frown me-2"></i>Game is Full</button>
					}
				}
				else
				{
					<form asp-controller="GameList" asp-action="RemoveFromGameList" asp-route-id="@Model.Id" method="post" class="d-inline">
						<button type="submit" class="btn btn-outline-warning"><i class="bi-box-arrow-left me-2"></i>Unregister</button>
					</form>
				}
			}
		</div>
	}

	<div class="d-block mt-2">
		<a asp-action="RegisteredPlayers" asp-route-id="@Model.Id" class="btn btn-outline-primary"><i class="bi-three-dots-vertical me-2"></i>View Registered Players</a>
	</div>
	<div class="d-block mt-2">
		<a asp-action="Index" class="btn btn-outline-secondary"><i class="bi-arrow-left-circle me-2"></i>Back to All Games</a>
	</div>

	<partial name="_CommentsPartial" model="@Model.Comments" />
	<p class="mt-5"></p>
	<partial name="_AddCommentPartial" model="@Model.CommentForm" />
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}