@using ProjectAirsoft.ViewModels.Game;
@model GameDetailsViewModel

@{
	ViewData["Title"] = "Game Details";
	var today = DateTime.Today;
}

<div class="container">
	<img src="@Model.ImageUrl" height="400" />
	<h2>@Model.Name</h2>

	<p><strong>Description:</strong> @Model.Description</p>
	<p><strong>Date:</strong> @Model.Date</p>
	<p><strong>Start Time:</strong> @Model.StartTime</p>
	<p><strong>Registered Players:</strong> @Model.RegisteredPlayers / @Model.Capacity</p>
	<p><strong>Fee:</strong> @(Model.Fee == 0 ? "FREE" : $"BGN {Model.Fee}")</p>
	<p><strong>Terrain:</strong> @Model.Terrain</p>
	<p><strong>Organizer:</strong> @Model.Organizer</p>

	@if (User?.Identity?.IsAuthenticated ?? false)
	{
		@if (User.Identity.Name == Model.Organizer && Model.IsCanceled == false && DateTime.Parse(Model.Date) >= today)
		{
			<form asp-controller="Game" asp-action="Cancel" asp-route-id="@Model.Id" method="post" class="d-inline">
				<button type="submit" class="btn btn-outline-danger" onclick="return confirm('Are you sure you want to cancel the game?');">Cancel</button>
			</form>
		}

		@if (!Model.IsCanceled && DateTime.Parse(Model.Date) >= today)
		{
			@if (!Model.IsUserRegistered)
			{
				@if (Model.RegisteredPlayers < Model.Capacity)
				{
					<form asp-controller="GameList" asp-action="AddToGameList" asp-route-id="@Model.Id" method="post" class="d-inline">
						<button type="submit" class="btn btn-outline-success">Register</button>
					</form>
				}
				else
				{
					<button class="btn btn-outline-light" disabled>Game is Full</button>
				}
			}
			else
			{
				<form asp-controller="GameList" asp-action="RemoveFromGameList" asp-route-id="@Model.Id" method="post" class="d-inline">
					<button type="submit" class="btn btn-outline-warning">Unregister</button>
				</form>
			}
		}
	}

	<div class="d-block mt-2">
		<a asp-action="Index" class="btn btn-outline-secondary">Back to All Games</a>
	</div>
</div>
