@using ProjectAirsoft.ViewModels.Game;
@using static ProjectAirsoft.Common.ValidationMessages.FutureDateAttribute;
@using static ProjectAirsoft.Common.ApplicationConstants;
@model GameFormModel

@{
	ViewData["Title"] = "Edit Game";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit" class="mt-4" method="post">
	<div class="row">
		<div class="form-group mb-3 col-md-4">
			<label asp-for="Name" class="control-label fw-bold">Name</label>
			<input asp-for="Name" class="form-control" aria-required="true" placeholder="Enter the name of the game" />
			<span asp-validation-for="Name" class="text-danger fst-italic"></span>
		</div>
		<div class="form-group mb-3 col-md-8">
			<label asp-for="ImageUrl" class="control-label fw-bold">Game Cover Image</label>
			<input asp-for="ImageUrl" class="form-control" placeholder="http://site.com/image.jpg" />
			<span asp-validation-for="ImageUrl" class="text-danger fst-italic"></span>
		</div>
	</div>

	<div class="row">
		<div class="form-group mb-3 col-md-2">
			<label asp-for="Date" class="control-label fw-bold">Date</label>
			<input asp-for="Date" type="date" min="@DateTime.Now.ToString(ISODateFormat)" data-val="true" data-val-range="@PastDateMessage" data-val-range-min="@DateTime.Now.ToString(ISODateFormat)" class="form-control" aria-required="true" />
			<span asp-validation-for="Date" class="text-danger fst-italic"></span>
		</div>
		<div class="form-group mb-3 col-md-2">
			<label asp-for="StartTime" class="control-label fw-bold">Start Time</label>
			<input asp-for="StartTime" class="form-control" aria-required="true" placeholder="Example: 10:00" />
			<span asp-validation-for="StartTime" class="text-danger fst-italic"></span>
		</div>
		<div class="form-group mb-3 col-md-2">
			<label asp-for="Capacity" class="control-label fw-bold">Capacity</label>
			<input asp-for="Capacity" class="form-control" aria-required="true" />
			<span asp-validation-for="Capacity" class="text-danger fst-italic"></span>
		</div>
		<div class="col-md-2">
			<label asp-for="Fee" class="control-label fw-bold">Fee</label>
			<div class="input-group">
				<span class="input-group-text">BGN</span>
				<input asp-for="Fee" class="form-control" aria-required="true" />
			</div>
			<span asp-validation-for="Fee" class="text-danger"></span>
		</div>
		<div class="form-group mb-3 col-md-4">
			<label asp-for="TerrainId" class="control-label fw-bold">Terrain</label>
			<select asp-for="TerrainId" class="form-select" aria-required="true" asp-items="@(new SelectList(Model.Terrains, "Id", "Name"))">
				<option value="">Choose a terrain...</option>
			</select>
			<span asp-validation-for="TerrainId" class="text-danger fst-italic"></span>
		</div>
	</div>

	<div class="row">
		<div class="form-group mb-3 col-md-12">
			<label asp-for="Description" class="control-label fw-bold">Description</label>
			<textarea asp-for="Description" class="form-control" aria-required="true" placeholder="Enter the description of the game" rows="9"></textarea>
			<span asp-validation-for="Description" class="text-danger fst-italic"></span>
		</div>
	</div>
	<input type="hidden" asp-for="Id" />
	<input type="hidden" asp-for="OrganizerId" />
	<div class="form-group mt-4">
		<button type="submit" class="btn btn-outline-success">Save Changes</button>
	</div>
	<a asp-action="Index" class="btn btn-outline-secondary mt-2">Back to All Games</a>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
