@using ProjectAirsoft.ViewModels.Game;
@model AllGamesFilterViewModel

@{
	ViewData["Title"] = "Games";
	var today = DateTime.Today;
}

<div class="d-flex align-items-center mb-3">
	<h2 class="me-auto mb-0">All Games</h2>

	@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
	{
		<a asp-controller="Game" asp-action="Create" class="btn btn-outline-success me-2">Create Game</a>
	}

	<div class="btn-group dropend">
		<button class="btn btn-outline-primary dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-offset="0,10">
			Terrain
		</button>
		<ul class="dropdown-menu">
			<li>
				<a class="dropdown-item @(Model.TerrainFilter == null ? "active" : "")" asp-action="Index">All</a>
			</li>
			<li>
				<hr class="dropdown-divider">
			</li>
			@if (Model.AllTerrains != null)
			{
				@foreach (string terrain in Model.AllTerrains)
				{
					<li>
						<a class="dropdown-item @(Model.TerrainFilter == terrain ? "active" : "")" asp-action="Index" asp-route-terrainFilter="@terrain">@terrain</a>
					</li>
				}
			}

		</ul>
	</div>
</div>

<hr />

@if (Model.Games != null && Model.Games.Count() == 0)
{
	@if (Model.TerrainFilter == null)
	{
		<p>There are no games created yet.</p>
	}
	else
	{
		<p>There are no games on @Model.TerrainFilter.</p>
	}

}
else
{
	<div class="row">
		@if (Model.Games != null)
		{
			@foreach (var game in Model.Games)
			{
				<div class="col-md-4">
					<a asp-action="Details" asp-route-id="@game.Id" class="text-decoration-none">
						<div class="card mb-4 shadow-sm">
							@if (game.IsCanceled == true)
							{
								<div class="card-header text-center bg-danger bg-gradient" style="--bs-bg-opacity: .7;">
									<strong>Canceled</strong>
								</div>
							}
							else
							{
								@if (DateTime.Parse(game.Date) > today)
								{
									<div class="card-header text-center bg-warning bg-gradient" style="--bs-bg-opacity: .7;">
										<strong>Upcoming</strong>
									</div>
								}
								else if (DateTime.Parse(game.Date) == today)
								{
									<div class="card-header text-center bg-success bg-gradient" style="--bs-bg-opacity: .7;">
										<strong>Today</strong>
									</div>
								}
								else
								{
									<div class="card-header text-center bg-secondary bg-gradient" style="--bs-bg-opacity: .7;">
										<strong>Ended</strong>
									</div>
								}
							}

							@if (DateTime.Parse(game.Date) < today)
							{
								<img src="@game.ImageUrl" class="card-img-top img-grayscale" alt="Game Image" style="height: 200px; object-fit: cover;">
							}
							else
							{
								<img src="@game.ImageUrl" class="card-img-top" alt="Game Image" style="height: 200px; object-fit: cover;">
							}

							<div class="card-body">
								<h4 class="card-title">@game.Name</h4>
								<p class="card-text">@game.Terrain</p>
								<span class="stretched-link"></span>
							</div>
							<div class="card-footer text-center">
								<strong>@game.Date</strong>
							</div>
						</div>
					</a>
				</div>
			}
		}

	</div>

	<nav aria-label="Page navigation" class="mt-4">
		<ul class="pagination">
			@if (Model.CurrentPage > 1)
			{
				<li class="page-item">
					<a class="page-link" asp-action="Index"
					   asp-route-currentPage="@(Model.CurrentPage - 1)"
					   asp-route-terrainFilter="@Model.TerrainFilter">
						Previous
					</a>
				</li>
			}

			@for (int i = 1; i <= Model.TotalPages; i++)
			{
				<li class="page-item @(i == Model.CurrentPage ? "active" : "")">
					<a class="page-link" asp-action="Index"
					   asp-route-currentPage="@i"
					   asp-route-terrainFilter="@Model.TerrainFilter">
						@i
					</a>
				</li>
			}

			@if (Model.CurrentPage < Model.TotalPages)
			{
				<li class="page-item">
					<a class="page-link" asp-action="Index"
					   asp-route-currentPage="@(Model.CurrentPage + 1)"
					   asp-route-terrainFilter="@Model.TerrainFilter">
						Next
					</a>
				</li>
			}
		</ul>
	</nav>
}