@using ProjectAirsoft.ViewModels.Game;
@model IEnumerable<GameIndexViewModel>

@{
	ViewData["Title"] = "Games";
}

<h2>All Games</h2>

<div class="row">
	@foreach (var game in Model)
	{
		<div class="col-md-4">
			<div class="card mb-4 shadow-sm">
				<img src="@game.ImageUrl" class="card-img-top" alt="Game Image" style="height: 200px; object-fit: cover;">
				<div class="card-body">
					<h5 class="card-title">@game.Name</h5>
					<p class="card-text">@game.Terrain</p>
					<a asp-action="Details" asp-route-id="@game.Id" class="btn btn-primary">Game Details</a>
				</div>
				<div class="card-footer text-center">
					@game.Date
				</div>
			</div>
		</div>
	}
</div>
