@using ProjectAirsoft.Web.Areas.Admin.ViewModels;
@model IEnumerable<GameViewModel>

@{
	ViewData["Title"] = "Game Management";
}

<div class="container mt-5">
	<h1 class="text-center mb-4">@ViewData["Title"]</h1>

	<table class="table table-bordered table-hover">
		<caption>Total games: @Model.Count()</caption>
		<thead>
			<tr>
				<th>Game Name</th>
				<th>Date</th>
				<th>Registered Players</th>
				<th>Fee</th>
				<th>Terrain</th>
				<th>Organizer</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var game in Model)
			{
				<tr>
					<td>@game.Name</td>
					<td>@game.Date</td>
					<td>@game.RegisteredPlayers / @game.Capacity</td>
					<td>@(game.Fee == 0 ? "FREE" : $"BGN {game.Fee}")</td>
					<td>@game.Terrain</td>
					<td>@game.Organizer</td>
					<td>
						<a target="_blank" asp-area="" asp-action="Details" asp-controller="Game" asp-route-id="@game.Id" class="btn btn-info btn-sm">Details</a>

						<form method="post" asp-action="DeleteGame" asp-controller="GameManagement" asp-area="Admin" class="d-inline">
							<input type="hidden" name="id" value="@game.Id" />
							<button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this game?');">Delete</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
